<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello Kitty</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<style>
 body{text-align: center; float: center}
 body{background-color: #FFC0CB;}
 body{font-family: 'Calibri', sans-serif}

</style>

<body>
<font size = "3">
<font size = white>

	<!-- Header section -->
	<header>
	<p style="text-align:center;">
		<img src="static/HK_at_new_line.png">

	</p>
 
        
    <p style="text-align:center;">
		<h1>Hello Kitty</h1>
	</p>
	</header>

	<!-- Main section -->
	<main>
		<h2>About Hello Kitty</h2>
		<p>Hello Kitty is a fictional character produced by the Japanese company Sanrio, created by Yuko Shimizu and currently designed by Yuko Yamaguchi.</p>
		<img src="static/HK_hello.png">
		<p class="caption">She often wears blue overalls with a yellow shirt on top.</p>

		<!-- Facts -->
		<h2>Facts About Hello Kitty</h2>
		<ul>
			<p>She was born in the suburbs of London, England on November 1st.</p>
			<p>Her height is described as five apples and her weight as three apples.</p>
			<p>She is good at baking cookies and loves Mama's homemade apple pie.</p>
			<p>She likes to collect cute things and her favourite subjects in school are English, music and art.</p>
		</ul>

		<!-- Compositions -->
		<h2>Hello Kitty's friends</h2>
		<p>Hello Kitty has a lot of friends, My Melody, Cinnamoroll, Kuromi... Theese characters are all from Saniro company.</p>
		
	</main>

			<table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	   <td><img src=static/melody.png width="300px" height="300px" border=5></td>
	   <td><img src=static/cinnamoroll.png width="300px" height="300px" border=5></td>
	   <td><img src=static/kuromi.png width="300px" height="300px" border=5></td>
	  </tr>
	  <tr>
	 
	 <td align="center"><h4><a href="https://hellokitty.fandom.com/wiki/My_Melody" target="_blank" rel="noopener noreferrer">Melody</a ></h4>
	      <h5>Best friend of Kitty</h5></td>
	  
	
	 <td align="center"><h4><a href="https://hellokitty.fandom.com/wiki/Cinnamoroll" target="_blank" rel="noopener noreferrer">Cinnamoroll</a ></h4>
	      <h5>Best friend of Kitty</h5></td>
	  
	 
	 <td align="center"><h4><a href="https://hellokitty.fandom.com/wiki/Kuromi" target="_blank" rel="noopener noreferrer">Kuromi</a ></h4>
	      <h5>Best friend of Kitty</h5></td>
	  </tr>
	</table>


	<!-- Footer section -->
	<footer>
		<p>Demo site for the Web Development exercise for the <a href="https://courses.warwick.ac.uk/modules/2021/WM9A4-15" target="_blank">Digital Development with Python</a> module.</p>
	</footer>
</body>
</html>